table {
  border: 2px solid #0B132B;
}

td:hover {
  background-color: #3A506B;
  color: #FFFFFF;
}

tr, td {
  background-color: #5BC0BE;
  color: #1C2541;
}

th {
  background-color: #3A506B;
  color: #FFFFFF;
}
